#cover {
    background-image: url(wallpapersden.com_dark-natural-landscape-hd-black-aesthetic_2563x1436.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#navs {
    background-color: black;
}


.navbar-brand {
    color: white;
    
}
.navbar .nav-link {
    color: white; 
}

#header1{
    font-weight: bold;
    font-size: 50px;
}

#tools{
    background-image: url(wallpapersden.com_dark-natural-landscape-hd-black-aesthetic_2563x1436.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#footer{
    font-size: 40px;
}

.pic {
    background-size: 20px;
    size: 20px;
}


